.article {
  width: 100%;
  padding: 40px;
  padding-top: 20px;
  background-color: #fff;
  border: 1px solid #bfbfbf;
  text-align: justify;
}

.article__img {
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 25px;
  
  &--right {
    float: right;
    margin-right: 0;
    margin-left: 25px;
  }
  
  img {
    display: block;
  }
}

.article__back {
  display: block;
  width: 100%;
  font-weight: 400;
  text-align: center;
}
