.sidebar {
  width: 270px;
}

.sidebar__block {
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 15px;
  background-color: #fff;
  border: 1px solid #bfbfbf;
  
  &--top {
    margin-top: -85px;
    padding-top: 100px;
    padding-bottom: 50px;
  }
  
  &--contacts {
    padding-bottom: 35px;
  }
  
  address {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    font-style: normal;
  }
}

.sidebar__list {
  .reset();
  list-style-type: none;
}

.sidebar__date {
  font-size: 14px;
  font-weight: 700;
}

.sidebar__link {
  display: block;
  color: #000;
  text-decoration: none;
  font-weight: 400;
}
